  <br/>  
  <center><table>
  <tr><td>Categoria:</td><td><%= quiz.tema %></td></tr>
  <tr>
  <td><label for="preg" class="rem">Pregunta:</label></td>
  <td><input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" value="<%= quiz.pregunta %>"/> </td></tr>
  <tr>
  <td><label for="resp" class="rem">Respuesta:</label></td>
  <td><input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" value="<%= quiz.respuesta %>"/> </td></tr>
  <tr>
  <td><label for="indice" class="rem">Indice:</label></td>
  <td>
    <select name="quiz[tema]" id="indi">
    <option value="Otro" name="categoria" selected>Otro</option>
    <option value="Humanidades" name="categoria">Humanidades</option>
    <option value="Ocio" name="categoria">Ocio</option>
    <option value="Ciencia" name="categoria">Ciencia</option>
    <option value="Tecnologia" name="categoria">Tecnología</option>
  </select></td></td></tr>
  </tr>
  <tr>
  <td></td>
  <td>
  <a href="/quizes"><button type="button">Cancelar</button></a>
  <input type="submit" value="Salvar"></td></tr>
  <tr>
  <td></td><td><a href="/quizes">Volver</a></td>
  </tr>
  </center>